#amogus{

  font-size: 75px;
  margin: 0;
  padding: 10px;
  position: absolute;
  color: #FEFDF3;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Roboto Condensed', sans-serif;
  background-size: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: table;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  text-decoration: none;

}
#amogus:hover{

  background-color: rgba(0, 0, 0, 0.6);

}
#mygithub{

  color: #FEFDF3;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: middle;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 2px;
  padding-bottom: 2px;

}
body{

  background: linear-gradient(135deg, #7192be, #00b1de, #00cecd, #00e38a, #a8eb12);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;

}
html{
  height: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
